.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
	background: #141414;
	color: #ffffff;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
  background-color: blue;
}

.searchBox-center {
  display: inline-block;
  text-align: center;
}

.bottton{
  margin: 1%;
}

.nav-icon {
  margin-top: 1%;
  margin-left: 4% !important;
  color:  rgb(255, 0, 204);
}

.form-control{
  margin-left: 20% im !important;
}